p {
	margin-top: 18px;
	margin-bottom: 0px;
}

#apple-pd {
	margin-top: 2px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 24px;
	background-color: #fff;
	color: #333;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	min-width: 360px;
	text-align: left;
}

pre {
	margin-top: 0px;
	margin-bottom: 0px;
}

h1 {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 0px;
	text-align: left;
}

h2 {
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	margin-top: 1px;
	padding-bottom: 1px;
}


/******************** NAVBAR STYLES */

#navbox { 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 20px; 
	float: left; 
	padding-top: -2px; 
	border-bottom: 1px solid #939393;
	background-color: #dddddd;
	z-index: 99;
}

.gradient {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#d1d1d1), color-stop(0.5, #d1d1d1));
	-webkit-background-origin: border;
}

#navleftbox {
	position: relative;
	font-size: 10px; 
	position: absolute; 
	top: -1px;
	left: 15px 
}

#navrightbox {
	float: right;
	position: relative;
	top: -1px;
	font-size: 10px;
	margin-right: 24px; 
}

.navlink_left {
	color: #333; 
	font-weight: normal;
	line-height: 22px;
	text-align: left;
	vertical-align: top;
	text-shadow: #FFFFFF 0px 1px 0;  
}

.navlink_right {
	color: #333;
	font-weight: normal;
	line-height: 22px;
	margin-left: 8px;
	text-align: right;
	vertical-align: middle;
	text-shadow: #FFFFFF 0px 1px 0;  
 }

/******************** HEADER AREA STYLES */

#headerbox {
	margin-top: 46px;
	margin-bottom: 23px;
	padding-right: 6px;
}

#iconbox {
	margin-bottom: -3px;
	float: left;
}

#iconimg {}

#pagetitle {
	border: solid 1px #fff;
	margin-left: 40px;
	margin-right: 45px;
	width: 88%;
}


/******************** EMBEDDED/INLINE LINK STYLES */

a {
	color: #3366CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #011E57;
}

.linkarrow {
	font-family: 'Lucida Grande';
	font-size: 10pt;
	padding-left: 2px;
	margin-top: 0px;
}

a.linkarrow:hover {
	text-decoration: none;
}

.linkinline {
	margin-top: 9px;
	margin-bottom: 18px;
}


/* End Embedded/Inline Link Styles */


/******************** INTRO */
#introbox {
	margin-top: 0;
	margin-bottom: 0px;
}

.introprimtext, .outroprimtext {
	margin-top: 0px;
	margin-bottom: 0px;
}

.introauxartshorttext, .outroauxartshorttext {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.introprimtextlongtext, .outroprimtextlongtext {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 9px;
	margin-bottom: 0px;
	width: 100%;
}

.introwarning, .introimportant, .intronote, .intronotice, .outrowarning, .outroimportant, .outronote, .outronotice {
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.introwarningprefix, .introimportantprefix, .intronoteprefix, .intronoticeprefix, .outrowarningprefix, .outroimportantprefix, .outronoteprefix, .outronoticeprefix {
	position: relative;
	left: 0px;
	font-size: 11px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 5px;
	text-transform: uppercase;
	line-height: 16px;
	word-spacing: -2pt;
	letter-spacing: 1pt;
}


/******************** OUTRO */
#outrobox {
	margin-top: 20px;
	margin-bottom: 0px;
}

/******************** TASK */
.taskcontent {
	padding-left: 20px;
	padding-right: 7px;
	padding-top: 13px;
	padding-bottom: 15px;
	text-align: left;
}

.taskprimtextlongtext {
	margin-top: 18px;
	margin-bottom: 12px;
}

ul li:before {
   content: counter(mycounter, square) "";
    color : #666;
    font-size : 100%;
    position: relative;
    top: -.05em;
    float: left;
    margin-right : .25em;
    margin-left : -1.2em;
    margin-bottom: 0em;
} 

.tasklistnumbered li {
	list-style-position: outside;
	list-style-type: decimal;
	position: relative;
	left: -20px;
	padding-top: 0px;
	padding-right: 15px;
	margin-top: 18px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

.tasklistbulleted li {
	font-size: 18px;
	color: #666;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	left: -13px;
	padding-right: 15px;
	margin-top: 15px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
}

ul.tasklistbulleted {
	font-size: 18px;
	color: #666;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding-left: -13px;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-align: left;
	vertical-align: bottom;
}

.tasklistbulleted li:before {
   	content: counter(mycounter, square) "";
    color : #666;
    font-size : 100%;
    position: relative;
    top: -.05em;
    float: left;
    margin-right : .25em;
    margin-left : -1.35em;
    margin-bottom: 0em;
} 

/* This .text style is only used in for Number lists */
.numberparagraph, p.numberparagraph  {
	color: #333;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 18px;
	margin-top: 9px;
	position: relative;
	text-indent: 0px;
	left: 0px;
	top: 0px;
}

/* This style is used when a list item <li> has multiple paragraphs of text */
.listparagraph, p.listparagraph {
	color: #333;
	font-family: 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 18px;
	margin-top: 9px;
	padding-bottom: 0px;
	position: relative;
	text-indent: 0px;
	left: -6px;
	top: 0px;
}

.taskboxwrapper {
	margin-top: 18px;
	margin-bottom: 0px;
}

.taskbox {
	clear: both;
	margin-top: 23px;
	position: relative;
	width: 100%;
}

.taskframe {
	background-color: #FFFFFF;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border: 1px solid #d7d7d7;
}

.taskprimarytextwrapper {
	margin-bottom: 0px;
	margin-top: 25px;
}

.taskprimarytextcontent {
	color: black;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 42px;
	margin-right: 45px;
}

.taskauxtext {
	margin-bottom: 7px;
	margin-left: 52px;
	margin-right: 45px;
	margin-top: 0px;
}

.taskauxlink {
	margin-bottom: 0px;
	margin-left: 52px;
	margin-right: 45px;
	margin-top: 4px;
	line-height: 16px;
}

.linkarrow {
	font-family: 'Lucida Grande';
	font-size: 10pt;
	line-height: 14px;
	margin-top: 0px;
	padding-left: 2px;
}

.taskwarningprefix, .taskimportantprefix, .tasklegal, .tasknoteprefix, .tasknoticeprefix {
	font-size: 11px;
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 9px;
	padding-right: 4px;
	text-transform: uppercase;
	line-height: 16px;
	word-spacing: -2pt;
	letter-spacing: 1pt;

}

/******************** START SHADOW STYLE */

.shadow {
	-webkit-box-shadow: 0px 2px 4px #CCCCCC;
	-moz-box-shadow: 0px 2px 4px #CCCCCC;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}


/******************** START RULE STYLES*/

#rule {
	margin-top: 4px;
	margin-bottom: 0px;
}

hr {
	background-color: #F6F6F6;
	background-repeat: repeat-x;
	height: 2px;
	width: 100%;
	border-top: 1px solid #D0D0D0;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

/******************** RELATED TOPICS STYLES */

h3 {
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	line-height: 12pt;
	margin-top: 0px;
	margin-bottom: 3px;
	text-align: left;
}

#linkinternalbox, #linkexternalbox {
	margin-top: 22px;
	margin-bottom: -5px;
}

/******************** FEEDBACK STYLES */

#linkfeedbackbox {
	margin-top: 23px;
	margin-bottom: 0px;

}

.linkinternal, .linkexternal {
	margin-top: 0px;
	margin-bottom: 1px;
}

.linkfeedback {
	color: #333;
	margin-top: 0px;
	margin-bottom: 1px;
}


/******************** ZOOMABLE IMAGES STYLES */

.zoomable {
  cursor:pointer;
  margin:7px 20px 7px 0px;
  padding:14px 14px 0px 0px;
  background-image:url(../shrd/icon_zoom_in.png);
  background-repeat:no-repeat;
  background-position:right top;
  background-size:16px 16px;
}

.previewSmall {
  max-height:200px;
  max-width:500px;
}
.previewMedium {
  max-height:250px;
  max-width:600px;
}
.previewLarge {
  max-height:400px;
  max-width:800px;
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

       .zoomable { background-image:url(../shrd/icon_zoom_in@2x.png) }
}